body {
    -ms-overflow-style: none;
    background-color: #1e2a3a;
    height: 1500px;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask {
    /*height: 2000px;*/
}

.maskImg {
    width: 70%;
    position: fixed;
    margin-top: 5%;
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.text {
    position: fixed;
    font-family: Hammersmith One;
    font-size: 25vw;
    color: white;
}